body{
    background-color: black;
    overflow-x: hidden;
}
#header{
    background-color: rgb(0, 0, 0);
    top: 0;
    margin-top: 0;
    border-radius: 30px;
    /* display: flex; */
    align-items: center;
}


#logoContainer img{
    height: 100px;
    width: 100px;
    border-radius: 20px;
    padding: 10px;
    margin-left: 5px;
}

#headingContainer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

h2{
   margin: auto;
   text-align: center;
}



#navbar{
    background-color: white;
    display: flex;
    padding: 20px;
    box-shadow: teal;
    border-radius: 20px;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 10%;
    margin: auto;
    column-gap: 10%;
    border: solid green 3px;
    /* position: fixed;
    width: 95%; */
}


#home:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgb(143, 28, 250);
    align-items: center;
    border-radius: 4px;
    padding: 0.5%;
}
#email:hover{
    color: white;
    cursor: pointer;
    background-color: rgb(143, 28, 250);
    align-items: center;
    border-radius: 4px;
    padding: 0.5%;
}
#blog:hover{
    color: white;
    cursor: pointer;
    background-color: rgb(143, 28, 250);
    align-items: center;
    border-radius: 4px;
    padding: 0.5%;
}
#social:hover{
    color: white;
    cursor: pointer;
    background-color: rgb(143, 28, 250);
    align-items: center;
    border-radius: 4px;
    padding: 0.5%;
}
#podcast:hover{
    color: white;
    cursor: pointer;
    background-color: rgb(143, 28, 250);
    align-items: center;
    border-radius: 4px;
    padding: 0.5%;
}

#formContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
}